.DS_Store

__pycache__
.ipynb_checkpoints
.vscode
slurm-*.out

distributions
experiments
log
logs
recordings
wandb

machine_studies/*.pkl
machine_studies/holdplease
machine_studies/operator_5only/
machine_studies/operator_all/
machine_studies/operator_defocus/
machine_studies/first_light_pyramid_run/
machine_studies/dataframes/
machine_studies/evaluation_dummytests
machine_studies/first_three_all_agents
machine_studies/211125_all_agents_00_02
machine_studies/211125_polished_donkey_22_66
machine_studies/211202_all_agents_00_02
machine_studies/211202_all_agents_00_02_solenoid_adjusted
machine_studies/211202_polar_lake_00_69
machine_studies/211202_polished_donkey_03_21
machine_studies/211202_polished_donkey_67_99

machine_studies/20211209_all_three_drift
machine_studies/20211209_hannes_vs_agent_01
machine_studies/20211209_willi_vs_agent_01

machine_studies/donkey_fill_gap/
machine_studies/donkey_to_100/
machine_studies/evaluation_firstthree_today/
machine_studies/evaluation_firstthree_today_solenid-58-6/
machine_studies/first_three_all_agents_thirty/
machine_studies/lake_0_100/
machine_studies/lake_debug/
machine_studies/next_to_27_polished_donkey/
machine_studies/test_20211209_hannes_vs_agent_01/

.cache
.cache_2
.cache_3
