.DS_Store

__pycache__
.ipynb_checkpoints
.vscode
slurm-*.out

experiments
log
recordings
wandb

models/*
!models/chocolate-hill-271.zip
!modles/rich-firefly-270.zip
!models/snowy-bee-271.zip
!models/hardy-sky-269.zip
!models/rosy-meadow-273.zip
!models/old
!models/old/pretty-jazz-258.zip
!models/old/smart-surf-259.zip
!models/old/exalted-rain-260.zip
