.DS_Store

__pycache__
.ipynb_checkpoints
.vscode
slurm-*.out
wandb

bo_evaluation
bo_rl_opponent_evaluation
kit_shift_data
log
models
old
recordings
recordings_function_test
recordings_real
recordings_test
