*.zip filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
environments/ACHIP_EA1_2021.1351.001 filter=lfs diff=lfs merge=lfs -text
environments/ARES_AOcomp_run.1351.026 filter=lfs diff=lfs merge=lfs -text
environments/ARES_Linac.1351.010 filter=lfs diff=lfs merge=lfs -text
