git+https://github.com/desy-ml/cheetah.git@v0.5.13
git+https://gitlab.desy.de/msk-ipc/dummy-pydoocs.git
botorch
gym
jupyter
matplotlib
numpy
opencv-python
PyQt6
pyyaml
pyqtgraph
scipy
stable-baselines3
wandb
