git+git://github.com/ocelot-collab/ocelot.git#egg=ocelot
git+git://gitlab.desy.de/msk-ipc/helmholtz-ai-aa/cheetah.git#egg=cheetah
git+git://gitlab.desy.de/dummy-pydoocs.git@master#egg=dummypydoocs
numpy
scipy
jupyter
matplotlib
seaborn
moviepy
numba
numexpr
pyFFTW
pandas
gym
PyQt5==5.15.5
pyqtgraph==0.12.3
PyYAML
tensorboard
torch
stable-baselines3
wandb
